
 body{
    background-color:rgb(177, 202, 235);
    
}

table,tr,td{

    border-collapse: separate black;

}

.conBorde {
    border: 1px solid black;
    

}

td {
    width: 20%;
    
}

.tachado {
    text-decoration: line-through;
}

.separado {
    letter-spacing: 5px;
}